@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');

#aboutme-section {
    background-color: #293137;
    /* background: radial-gradient(ellipse at top, #1b2735 0%, #0f090c 100%); */
    height: 812px;
    color: #E9E59E;
}


#slider-container {
    width: 85%;
    /* height: 800px; */
}

#top-box {
    height: 50px;
    cursor: pointer;
    width: 100%;
    color: #CDB55B;
    font-weight: bold;
}

#bottom-box {
    height: 400px;

}

.open-sign {
    font-family: 'Italianno', cursive;
    font-weight: 600;
    border: 2px solid #F8649F;
    border-radius: 10px;
    color: #2DDDFD;
    text-shadow: 0 0 10px #2DDDFD;
    text-align: center;
    box-shadow: 1px 0px 20px 1px #861674;
    padding: 5px;
    width: 90px;
    height: 45px;
}

.closed-sign {
    font-family: 'Italianno', cursive;
    font-weight: 600;
    border: 2px solid #F7F235;
    border-radius: 10px;
    color: #fa4b4b;
    text-shadow: 0 0 20px #f53a49;
    text-align: center;
    box-shadow: 1px 0px 20px 1px #ac6a07;
    padding: 5px;
    width: 90px;
    height: 45px;
}

.off-sign {
    font-family: 'Italianno', cursive;
    font-weight: 600;
    border: 2px solid #4e4e4e;
    border-radius: 10px;
    color: #4e4e4e;
    text-align: center;
    padding: 5px;
    width: 90px;
    height: 45px;

}
@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');
#aboutme-txt1 {
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    /* font-weight: 700; */
    font-size: 30px;
}

#about-me-content {
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Nunito', sans-serif;
    /* font-weight: 400; */
}