#aboutme-section {
    background-color: #131724;
    height: 450px;
}

#slider-container {
    width: 90%;
    height: 80%;
}

#left-box {
    height: 100%;
    width: 50%;
}

#right-box {
    height: 100%;
    width: 50%;
}


