@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');

#footer-section {
    height: 100px;
    background-color: #333333;
    color: #CDB55B;
    font-family: Nunito;
    text-decoration: none;
}

#footer-section button {
    background-color: #333333;
    border: none;
}

#footer-section i {
    color: #784648;
    font-size: 1.2rem;
}

#footer-section a {
    color: #CDB55B;
    font-size: 1.2rem;
    text-decoration: none;
}

