@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');

#footer-section {
    height: 100px;
    background-color: #35334A;
    color: #B89760;
    font-family: Nunito;
    text-decoration: none;
}

#footer-section button {
    background-color: #35334A;
    border: none;
}

#footer-section i {
    color: #7A8586;
    font-size: 1.5rem;
}

#footer-section a {
    color: #B89760;
    font-size: 1.2rem;
    /* text-decoration: none; */
}

